.add-exercise-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-section {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section input,
.form-section textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-section button {
    padding: 10px 15px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-section button:hover {
    background-color: darkgray;
}