.plan-details-container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.plan-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.date-picker-container {
    margin-bottom: 20px;
}

.date-picker-container label {
    font-weight: bold;
}

.plan-details {
    list-style-type: none;
    padding: 0;
}

.plan-details li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.plan-details p {
    margin: 5px 0;
}

.exercise-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.exercise-form input {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: grey;
}

button:hover {
    background-color: darkgrey;
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}

button+button {
    margin-left: 10px;
}

.exercise-form button {
    align-self: flex-start;
}

.buttonSub {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonSub:hover {
    background-color: darkgray;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonMin {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonMin:hover {
    background-color: darkgray;
}

.buttonPlas {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonPlas:hover {
    background-color: darkgray;
}