.select-plan-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.search-section {
    margin-bottom: 40px;
}

.search-section h2 {
    margin-bottom: 10px;
}

.search-section input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.plan-details {
    margin-top: 20px;
}

.plan-details h3 {
    margin-bottom: 10px;
}

.plan-details p,
.plan-details h4 {
    margin-bottom: 10px;
}

.plan-details ul {
    list-style: disc;
    margin-left: 20px;
}

.start {
    /* font-size: 18px; */
    background-color: grey;
    /* text-align: center; */
    /* margin-top: 40px; */
}

.start:hover {
    background-color: darkgray;
}

.plan-item {
    background: bisque;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.plans-list {
    width: 80%;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

/* .slected-plan {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
} */